<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="container2">

</div>
<div class="aboutp p-5 text-white bg-dark rounded-3">
          <h2>Sorry!</h2>
          <p>Try again after sometime if problem exists still contact us.  </p>
          <a href="mailto:vishalrajkumar13232@gmail.com" class="btn btn-outline-light" type="button">Contact Us</a>
        </div>
<%- include("partials/footer") -%>
