.logo{
  width:12rem;
  opacity: 75%;
}
.logo-nav{
  width:12rem;
}
.first{
  padding: 3% 10%;
}
h1{
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: 900;
  font-family: 'Montserrat';
}
.download-button{
  margin: 5% 3% 5% 0;
}
.appimage{
  width: 49%;
}
.img1{
transform: rotate(15deg);
}
.img2{
transform: rotate(-15deg);
}
@media (max-width:991px) {
  #banner1{
    text-align: center;
  }
  h1{
    font-size: 2.5rem;
  }
}
/* banner-2 */

#banner2{
  background: white;
  padding: 6% 7% 7%;
  text-align: center;
}
.icon{
  color: slateblue;
  margin-top: 10%;
}
h3{
  padding: 7% 0 2%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Montserrat';
  color: black;
}
.fdesc{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  color:grey;
}

/* banner3 */

#banner3{
  padding: 8% 0 3%;
}

.car{
  width: 60%!important;
}
.quote{
  padding: 2% 0 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Montserrat';
  color: #bdbdbd;
}



.pod{
  width: 85%!important;
}
.date-picker{
  text-align: center;
  font-size: 25px;
}
.date-pick{
  background: #757575;
  border-radius: 6px;
  border-color: lightslategrey;
  color: #bdbdbd;
  padding: 5px;
}

.explain{
  margin: 50px 7%;
}
.title{
  color: #bdbdbd;
}
.explanation{
      font-size: 1.2rem;
}


body{
  background-color: #000000;
  color: #9e9e9e;
}
.container1{
  height:150px;
}
.container2{
  height:150px;
}
.home-bg{
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  margin:200px 250px 100px;


}
nav{
  font-size: 1.2rem;
  z-index: 3;
}
footer{
  text-align: center;

  margin-top: 2rem;
  padding: 2rem;
}

.date-submit {
  font-size: 15px;
  margin-top: 15px;
}
@media (min-width:399px) {
  .date-submit {
    margin-left: 25px;
  }
}
@media (max-width:550px) {
  .quote {
    margin: 50px 3%;
    font-size: 1.2rem;
    color: #bdbdbd;
    text-align: center;
}
.car{
  width: 75%!important;
}
.carousel-control-prev,.carousel-control-next{
  display: none;
}
.carousel-indicators{
  top: 165px;
}
  footer{
    font-size: 10px;
  }
  .logo-nav{
    width: 11rem;
  }
  .logo{
    width: 8rem;
  }

  .date-picker {
    font-size: 18px;
}
.explain {
    margin: 50px 7%;
    text-align: center;
}
.title{
font-size: 1.5rem;
}
.explanation {
    font-size: 0.9rem;
}
.explain p{
  font-size: 0.7rem;
}
  .nav-link{
    font-size: 1rem;
  }
  .pod{
    width: 100%!important;
  }
}
.aboutp{
  margin: 8% 12%;
  padding: 1.5rem;
}




.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
